/* custom colors ----------------------------------------------*/
:root{
  --mygrey: rgb(142, 142, 142);
  --myblue: rgb(17, 17, 200);
  --mygreen:rgb(18, 197, 113);
  --myred:rgb(240, 65, 65);
  --myyellow:rgb(240, 200, 23);
  
/* style for whole body -----------------------------------  */
}
body{
  top:0;
  left:0;
  font-size: 25px;
  background-image:
  url("./imagines/Background-sm.jpg");
  /* linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0.3) 90%), */
  background-size:cover;
  text-align: center;
}

a{
  text-decoration: none;
  color:white;
}
/* visited link */
a:visited {
  color:var(--mygreen, green);
}

/* mouse over link */
a:hover {
  background-color: var(--myyellow, yellow);
}

/* selected link */
a:active {
  color: white;
}
/* visible when mouse click window  */
.pop-up{
  position:absolute;
  left:0px;
  top: 0px;
  opacity:0;
  animation-name: showup;
  animation-duration: 2s;
  animation-iteration-count:infinite;
  animation-play-state: paused;
  z-index: -1;
}

/* Here starts header style --------------------------------------*/
.nav{ 
  display: flex;
  position: sticky;
  top:0;
  left:0;
  height: fit-content;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(11, 11, 11);
  z-index: 1; 
} 

/* Here is Welcome section style -------------------------------*/
#welcome-section{
  height: 100vh;
}

  h1.welcome{
    margin-top:20px;
    font-size: 30px;
    font-family:fantasy;
    animation: color-change 5s infinite;
  }
  .box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
    .photo{
      width:100px;
      height: 120px;
      margin:10px;
      border-radius: 50%;
      box-shadow: 5px 5px 5px var(--mygrey, grey);
    }
  h1,h2{
    text-shadow: 5px 5px 5px  var(--mygrey, grey);
  }  

  /*set quote style  */
  #quote-box{
    width: 50rem;
    height: 200px; 
    color: var(--myblue,blue); 
    margin: auto; 
    animation-name: fadeInLeft;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    visibility: visible;
    z-index: 1; 
  }

  #quote-box:hover{
    animation-play-state: paused;
  }
    .btn-close{
      width:5px;
      height:5px;
      border: 1px solid var(--mygrey)
    }
    #author::before{
      content: " .\2012";
    }
  /* end set quote style  */

/* Here is projects displaying style ------------------------------*/
u{
  font-weight: bold;
}
.projects{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-around;
  align-items:center;
  column-gap: 20px;
  row-gap:20px;
  

}
  .item{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px var(--myyellow, grey);
    background-color:rgb(9, 10, 10);
    border:3px solid var(--myyellow);
  }
    .poster{
      width:100%; 
      height: 250px;
    }
   
    #item-link::after{
      content:" \003C" " \002E" " \002F" "\003E";
    }
   
  
/* Here is footer style -------------------------------------*/
.footer{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  text-align: center;
  background-color: black;
}



/* Animations ------------------------------------------------*/
@keyframes color-change{
  0%{
    color:var(--myred, red);
    text-shadow: 2px 2px 2px  var(--mygrey, grey);   
  }
  50%{
    color:var(--myyellow, yellow);
    text-shadow: 5px 5px 5px  var(--mygrey, grey);
  }
  100%{
    color:var(--mygreen, green);
    text-shadow: 2px 2px 2px  var(--mygrey, grey);
  }
}

@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translateX(-50%);
  }
  50% {
      opacity: 1;
      transform: translateX(0%);
  }
  100%{
      opacity: 0;
      transform: translateX(50%);
  }
}

@keyframes showup {
  0%{
    opacity:0;
  }
  50%{
    opacity:0.5;
  }
  100%{
    opacity:0;
  }
}
/*Animation end  */

/* RWD setting -------------------------------------------------*/
@media screen and (max-width: 767px){
  body{
    font-size:20px;
  }

  .nav{
    display: none;
  }

    #quote-box{
     animation-play-state: paused;
     visibility: hidden;   
    }

  .projects{
    display: grid;
    grid-template-columns: auto;
  }
}


  