/* custom colors ----------------------------------------------*/
* {
  margin: 0;
}
:root {
  --mygrey: rgb(87, 85, 85);
  --myblue: rgb(17, 17, 200);
  --mygreen: rgb(113, 241, 181);
  --myred: rgb(240, 65, 65);
  --myyellow: rgb(247, 246, 243);
  --mydarkgrey: rgb(31, 30, 30);
  font-size: 25px;
}

/* style for whole body -----------------------------------  */

body {
  top: 0;
  left: 0;
  font-size: 1rem;
  color: white;
  background: rgb(255, 255, 255);
  font-family: "Trirong", serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--mygreen);
  font-size: 0.9rem;
}
/* visited link */
a:visited {
  color: var(--myyellow);
}

/* mouse over link */
a:hover {
  font-style: italic;
  font-size: 1rem;
  color: var(--mygreen);
  transition: 1s;
}

/* visible when mouse click window  */
.pop-up {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  animation-name: showup;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  z-index: -1;
}

/* Here starts header style --------------------------------------*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(65, 64, 64);
  z-index: 1;
}
.nav ul {
  width: 80%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav > ul > li {
  float: right;
  margin: 1rem;
}

.logo {
  width: 80px;
  height: 60px;
  margin: auto 50px auto 15px;
  float: left;
  border-radius: 20%;
  border: 3px double var(--mygreen);
}
/* Here is Welcome section style -------------------------------*/
.wrapper {
  animation: scroll 200s linear infinite;
  /* background: url("CodingBackground.jpg"), rgba(255, 255, 255, 0.1); */

  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 60%
    ),
    url("images/CodingBackground.jpg");
  background-size: contain;
  width: 100%;
  height: 100%;
}

#about {
  padding-top: 5rem;
  width: 100%;
  height: 100vh;
}

h1 {
  margin: auto;
  font-size: 2em;
  color: var(--myyellow);
  text-shadow: 5px 5px 5px var(--mygrey);
}

#about h3 {
  padding: 1em;
  color: var(--myyellow);
  font-family: "Times New Roman", Times, serif;
}

#about p,
span {
  padding: 2em;
  color: var(--myyellow);
}

.arrow-down {
  font-size: larger;
  display: inline-block;
  animation: arrow-down 2s infinite;
}
.card-outer {
  transform-style: preserve-3d;
  transition: 0.5s linear 0.1s;
  position: relative;
  width: 50%;
  height: 50%;
  margin: 2em auto;
}
.card-outer:hover {
  transform: rotateY(180deg);
  outline: 2px solid #fff;
}

.card {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card ul {
  margin: auto;
  text-align: center;
}
.card li {
  text-align: left;
}
.front {
  transform: rotateY(0);
  background-color: #2d2d2d;
  color: #fff;
}
.back {
  font-size: 0.8em;
  text-align: left;
  transform: rotateY(180deg);
  color: #2d2d2d;
  background-color: #d3cccc;
}
/*set quote style  */
#quote-box {
  flex-basis: 100%;
  width: 50rem;
  height: 200px;
  color: var(--mygreen, blue);
  margin: auto;
  visibility: visible;
  /* z-index: 1;  */
}

#quote-box:hover {
  animation-play-state: paused;
}
.btn-close {
  width: 5px;
  height: 5px;
  border: 1px solid var(--mygrey);
}
#author::before {
  content: " .\2012";
}
/* end set quote style  */

/* Here is projects displaying style ------------------------------*/

u {
  font-weight: bold;
}
.projects {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  background-color: rgb(9, 10, 10);
  border: 3px solid var(--myyellow);
}
.item:hover {
  outline: 3px solid yellow;
}
.poster {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 1% 1% 1% 30%;
}

#item-link::after {
  content: " \003C"" \002E"" \002F""\003E";
}

/* Here is footer style -------------------------------------*/
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  background-color: black;
}
#footer > p {
  flex-basis: 100%;
  font-size: 0.625rem;
}

/* Animations ------------------------------------------------*/
@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}
@keyframes color-change {
  0% {
    color: var(--myred, red);
    text-shadow: 2px 2px 2px var(--mygrey, grey);
  }
  50% {
    color: var(--myyellow, yellow);
    text-shadow: 5px 5px 5px var(--mygrey, grey);
  }
  100% {
    color: var(--mygreen, green);
    text-shadow: 2px 2px 2px var(--mygrey, grey);
  }
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
/*Animation end  */

/* RWD setting -------------------------------------------------*/
@media screen and (max-width: 768px) {
  :root {
    font-size: 20px;
  }

  .projects {
    display: grid;
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 576px) {
  :root {
    font-size: 16px;
  }
  .card-outer {
    height: 30%;
    width: 90%;
  }
  .nav > ul {
    display: none;
  }
  .nav > h5 {
    margin: auto;
  }
}
